<section class="mx-auto flex max-w-screen-xl flex-col items-center justify-center px-5">
	<div class="mx-auto mt-24 flex max-w-4xl flex-col items-center justify-center mb-12">
		<div class="p-[1px] coloredChip rounded-full">
			<p class="rounded-full px-3 py-1 text-xs font-medium bg-black p-0 m-0">FEATURES</p>
		</div>
		<h2 class="mt-4 text-center text-4xl lg:text-5xl lg:tracking-tight font-light">What is Challenge?</h2>
		<p class="mt-4 text-center text-2xl text-neutral-800 [text-wrap:pretty] dark:text-neutral-400 font-light">
			<span class="title">Challenges</span> is the ultimate resource to master the arts of algorithm and data strcuture efficiently. A guded course to coding out challenges that will help you develop the skill and confidence.
		</p>
	</div>
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4 md:gap-6   w-[100%]">
		<div class="flex-1 rounded-2xl bg-gray-50 p-6 shadow ring-1 ring-gray-200/50 transition-all hover:shadow-lg dark:bg-neutral-900/80 dark:shadow-neutral-600 dark:ring-neutral-800/80">
			<div class="mb-4">
				<svg class="mx-auto w-[40%] items-center justify-center" xmlns="http://www.w3.org/2000/svg" height="100%"
					viewBox="0 -960 960 960" width="100%" fill="#e8eaed">
					<path
						d="M480-216 234-350v-197l-115-62 361-197 362 197v258h-35v-238l-81 42v197L480-216Zm0-236 288-157-288-156-287 156 287 157Zm0 196 211-114.75V-526L480-413.27 269-527v156.25L480-256Zm1-196Zm-1 50Zm0 0Z">
					</path>
				</svg>
			</div>
			
			<h1 class="mt-2 text-xl font-medium lg:text-2xl">Learn efficiently</h1>
			<p class="mt-2 text-slate-600 dark:text-neutral-400">
				Implement the best solution to ensure
				optimal performance by providing step by step code walkthroughs for every challenge.
			</p>
		</div>
		<div class="flex-1 rounded-2xl bg-gray-50 p-6 shadow ring-1 ring-gray-200/50 transition-all hover:shadow-lg dark:bg-neutral-900/80 dark:shadow-neutral-600 dark:ring-neutral-800/80">
			<div class="mb-4">
				<svg class="mx-auto w-[40%] items-center justify-center" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M197.69-140q-23.5 0-40.59-17.1-17.1-17.09-17.1-40.59v-564.62q0-23.5 17.1-40.59 17.09-17.1 40.59-17.1h564.62q23.5 0 40.59 17.1 17.1 17.09 17.1 40.59v368.54q-10.95-6.8-22.17-12.08-11.23-5.29-23.22-10.23v-150.07H608.46v131.38q-12.15 1.62-23.41 3.17-11.27 1.56-21.97 4.29v-138.84H396.92v223.46q2.7-2.31 5.2-4.81 2.5-2.5 4.8-5.58H185.39v155.39q0 5.38 3.46 8.84t8.84 3.46h133.69q6.47 12.77 13.54 23.81Q352-150.54 360.69-140h-163Zm-12.3-258.46h166.15v-167.69H185.39v167.69Zm0-213.08h589.22v-150.77q0-5.38-3.46-8.84t-8.84-3.46H197.69q-5.38 0-8.84 3.46t-3.46 8.84v150.77ZM650.36-60q-79.28 0-146.13-40.77-66.84-40.77-102.61-111.15 35.77-70.39 102.62-111.16 66.85-40.76 146.38-40.76 79.92 0 146.57 40.76Q863.84-282.31 900-211.42q-34.54 70.88-102.26 111.15Q730.02-60 650.36-60Zm.2-45.39q60.13 0 111.79-28.92 51.65-28.92 86.03-77.61-34.38-48.7-85.98-77.62t-111.73-28.92q-59.75 0-111.59 28.92-51.85 28.92-85.85 77.62 34 48.69 85.79 77.61 51.79 28.92 111.54 28.92Zm-.02-63.84q-17.85 0-30.23-12.46-12.39-12.46-12.39-30.31 0-17.85 12.46-30.23 12.46-12.38 30.31-12.38 18.23 0 30.42 12.45 12.2 12.46 12.2 30.31 0 17.85-12.27 30.23-12.26 12.39-30.5 12.39Z"/></svg>
			</div>
			
			<h1 class="mt-2 text-xl font-medium lg:text-2xl">Visual Learning</h1>
			<p class="mt-2 text-slate-600 dark:text-neutral-400">
				Visualize how algorithms works through animations, illustrating the concepts and the patterns behind each problem.
			</p>
		</div>
		<div class="flex-1 rounded-2xl bg-gray-50 p-6 shadow ring-1 ring-gray-200/50 transition-all hover:shadow-lg dark:bg-neutral-900/80 dark:shadow-neutral-600 dark:ring-neutral-800/80">
			<div class="mb-4">
				<svg class="mx-auto w-[40%] items-center justify-center" xmlns="http://www.w3.org/2000/svg" height="100%"
					viewBox="0 -960 960 960" width="100%" fill="#e8eaed">
					<path
						d="M153-140q-42.5 0-72.25-29.73Q51-199.47 51-241.94q0-42.48 29.75-72.77T153-345q11.42 0 22.21 2.5Q186-340 195.44-336L374-582q-18-18-27-43.25-9-25.26-9-51.68 0-60.55 40.92-101.81 40.92-41.26 101-41.26t101.58 41.26Q623-737.48 623-676.93q0 26.42-10.04 51.53T586-582l178.61 247q8.39-4 20.04-7 11.66-3 21.93-3 43.09 0 73.26 30.04Q910-284.92 910-242q0 42.5-30.04 72.25T807-140q-42.5 0-72.25-29.75T705-242q0-22.35 8.5-40.18Q722-300 736-315.41L559-560q-14.26 10.33-29 16t-32 8.34V-344q36 7 60.5 34.77 24.5 27.77 24.5 66.02 0 42.59-30.04 72.4Q522.92-141 480-141q-42.5 0-72.25-29.75T378-243q0-38.17 24-66.58Q426-338 463-344v-191.66q-18.26-2.67-33.5-8.34-15.24-5.67-27.5-16L223-315q14 14 23.5 32.5T256-242q0 42.5-30.04 72.25T153-140Zm-.04-35q27.99 0 48.02-19.7Q221-214.4 221-241.96q0-27.99-19.99-48.02-20-20.02-47.99-20.02-28 0-47.51 19.99Q86-270.01 86-242.02q0 28 19.7 47.51Q125.4-175 152.96-175ZM480-677Zm-.04 501q27.99 0 48.01-19.7Q548-215.4 548-242.96q0-27.99-19.99-48.02-20-20.02-47.99-20.02-28 0-47.51 19.99-19.51 20-19.51 47.99 0 28 19.7 47.51Q452.4-176 479.96-176Zm327 1q27.99 0 48.01-19.7Q875-214.4 875-241.96q0-27.99-19.99-48.02-20-20.02-47.99-20.02-27.99 0-47.51 19.99-19.51 20-19.51 47.99 0 28 19.7 47.51Q779.4-175 806.96-175ZM153-242Zm327-1Zm327 1ZM480-570q43.19 0 75.59-31.67Q588-633.34 588-677q0-43.19-32.41-75.59Q523.19-785 480-785q-43.19 0-75.09 32.41Q373-720.19 373-677q0 43.19 31.67 75.09Q436.34-570 480-570Z">
					</path>
				</svg>
			</div>
			
			<h1 class="mt-2 text-xl font-medium lg:text-2xl">Finally learn algorithms</h1>
			<p class="mt-2 text-slate-600 dark:text-neutral-400">
				in-depth exploration of the fundamental principles of data structure and
				algorithms techniques.
			</p>
		</div>
		<div class="flex-1 rounded-2xl bg-gray-50 p-6 shadow ring-1 ring-gray-200/50 transition-all hover:shadow-lg dark:bg-neutral-900/80 dark:shadow-neutral-600 dark:ring-neutral-800/80">
			<div class="mb-4">
				<svg class="mx-auto w-[40%] items-center justify-center" xmlns="http://www.w3.org/2000/svg" height="100%"
					viewBox="0 -960 960 960" width="100%" fill="#e8eaed">
					<path
						d="M140-140v-51l35-35v86h-35Zm162 0v-211l35-35v246h-35Zm161 0v-246l35 36v210h-35Zm162 0v-210l35-35v245h-35Zm161 0v-371l35-35v406h-35ZM140-384v-48l260-260 160 160 261-261v49L560-483 400-643 140-384Z">
					</path>
				</svg>
			</div>
			
			<h1 class="mt-2 text-xl font-medium lg:text-2xl">Big O Notation</h1>
			<p class="mt-2 text-slate-600 dark:text-neutral-400">
				Understand how much memory an algorithm uses (Space complexity) and how fast it runs (Time complexity).
			</p>
		</div>

		<div class="flex-1 rounded-2xl bg-gray-50 p-6 shadow ring-1 ring-gray-200/50 transition-all hover:shadow-lg dark:bg-neutral-900/80 dark:shadow-neutral-600 dark:ring-neutral-800/80">
			<div class="mb-4">
				<svg class="mx-auto w-[40%] items-center justify-center" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M766.08-140 522-384.08l43.54-43.54 244.07 244.08L766.08-140Zm-575.23 0-43.54-43.54 287.31-287.31L313-592.46 291.54-571l-39.39-39.77v79.23l-22.07 21.69-113.54-113.54 22.08-22.07h79.84l-42.61-42.23 106-106.39q15.07-14.69 32.57-20.3 17.5-5.62 38.81-5.62 20.92 0 38.61 7.35 17.7 7.34 32.39 22.42l-90.08 89.69 45.69 45.69-22.07 21.7 119.77 119.38 119.31-119.31q-9.16-13.77-13.85-30.38-4.69-16.62-4.69-36 0-49.54 35.8-85.35 35.81-35.8 85.35-35.8 12.69 0 22.04 2.23 9.34 2.23 15.96 6.84l-80.77 80.39 73.46 73.46 80.77-80.39q4.23 7.24 6.96 17.39 2.73 10.15 2.73 22.84 0 49.54-35.8 85.35-35.81 35.81-85.35 35.81-18.77 0-32.35-3.08-13.57-3.08-25.73-10.77L190.85-140Z"/></svg>
			</div>
			
			<h1 class="mt-2 text-xl font-medium lg:text-2xl">Continuous Improvement</h1>
			<p class="mt-2 text-slate-600 dark:text-neutral-400">
				Not sure where to begin? Challenges is designed for beginners, allowing you to dive in and steadily build your knowledge.
			</p>
		</div>

		<div class="flex-1 rounded-2xl bg-gray-50 p-6 shadow ring-1 ring-gray-200/50 transition-all hover:shadow-lg dark:bg-neutral-900/80 dark:shadow-neutral-600 dark:ring-neutral-800/80">
			<div class="mb-4">
				<svg class="mx-auto w-[40%] items-center justify-center" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M164.62-100v-439.23H100v-201.15h215.77q-10.69-11.62-15.65-26.48-4.97-14.87-4.97-30.37 0-42.5 29.75-72.25t72.25-29.75q23.44 0 45.07 10.77t35.47 29.77q13.85-19 35.48-29.77 21.62-10.77 45.06-10.77 42.5 0 72.25 29.75t29.75 72.25q0 15.54-4.96 30.38-4.96 14.85-15.66 26.47H860v201.15h-64.62V-100H164.62Zm393.84-753.85q-23.96 0-40.21 16.21T502-797.46q0 23.96 16.15 40.21Q534.29-741 558.16-741q24.03 0 40.36-16.15 16.33-16.14 16.33-40.01 0-24.03-16.21-40.36t-40.18-16.33Zm-217.92 56.39q0 23.96 16.21 40.21T396.92-741q23.96 0 40.21-16.15 16.26-16.14 16.26-40.01 0-24.03-16.15-40.36t-40.02-16.33q-24.03 0-40.35 16.21-16.33 16.21-16.33 40.18ZM145.39-695v110.38h311.92V-695H145.39Zm311.92 549.61v-393.84H205.54v393.84h251.77Zm45.38 0h251.77v-393.84H502.69v393.84Zm311.92-439.23V-695H502.69v110.38h311.92Z"/></svg>
			</div>
			
			<h1 class="mt-2 text-xl font-medium lg:text-2xl">Try it for Free</h1>
			<p class="mt-2 text-slate-600 dark:text-neutral-400">
				Want to check out the course materials? Try chalenges for free and start mastering the arts of algorithms today.
			</p>
		</div>
	</div>
</section>
