<div
	class="mt-32 flex bg-neutral-900 flex-col items-center  p-8 text-center md:px-20 md:py-20"
>
	<h2 class="text-4xl tracking-tight text-white md:text-6xl">
		Invest in quality preparation
	</h2>

	<p class="mt-4 text-2xl text-white/70">
		Get started right now and start masterint the art of algorithms.
	</p>
	<div class="mt-5 flex backgroundStyle rounded-full">
		<a
			href="/challenges"
			class="bg-black px-8 py-3 rounded-full"
			>{"Get started >"}
		</a>
	</div>
</div>
