---
import Layout from "../layouts/Layout.astro";
import Header from "../landing/header.astro";
import Faq from "../landing/faq.astro";
import Footer from "../landing/footer.astro";
import "../globals.css";
---

<Layout title="Welcome to challenge">
	<Header />
	<section class=" mt-20 mx-auto max-w-screen-xl px-5 flex justify-center flex-col items-center">
		<div class="mt-16 text-center mb-20">
			<h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight"> Pricing</h1>
			<p class="text-lg mt-4 text-slate-500 mx-auto max-w-xl">Simple &amp; Predictable pricing. No Surprises.</p>
		</div>
		<div class="flex flex-col max-w-[450px] md:max-w-[900px] md:flex-row gap-x-6 gap-y-6 ">
			<div class="border p-1 border-neutral-800 flex-1 rounded-xl">
			<div class="flex flex-1 flex-col bg-black py-5 px-6 relative rounded-xl">
						<div class="flex w-full mb-5 relative text-4xl">
							<h3 class="text-4xl">Free</h3>
							<p class="absolute right-0"></p>
						</div>
						<div class=" flex backgroundStyle rounded-lg w-[50%] items-center justify-center"><p class="text-center w-full font-bold rounded-lg bg-black p-0 py-2 m-0">UNLIMITE ACCES</p></div>
					
						<p class="text-neutral-400 font-extralight">Challenges will teach you <span class="title font-normal">data structures & algorithms</span> so well that you can start the course for free and see for yourself.</p>
						<ul class="grid mt-8 text-left gap-y-4">
							<li class="flex items-center gap-3 text-green-600">
								<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
									<symbol id="ai:ph:check-circle-fill">
										<path fill="currentColor"
											d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
										</path>
									</symbol>
									<use xlink:href="#ai:ph:check-circle-fill"></use>
								</svg> 
								<span class="text-sm text-neutral-400">Limited acces to some coding challenges.</span> 
							</li>
							<li class="flex items-center gap-3  text-green-600">
								<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
									<symbol id="ai:ph:check-circle-fill">
										<path fill="currentColor"
											d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
										</path>
									</symbol>
									<use xlink:href="#ai:ph:check-circle-fill"></use>
								</svg> 
								<span class="text-sm text-neutral-400">Limited acces to some video explanations.</span>
							</li>
							<li class="flex items-center gap-3  text-green-600">
								<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
									<symbol id="ai:ph:check-circle-fill">
										<path fill="currentColor"
											d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
										</path>
									</symbol>
									<use xlink:href="#ai:ph:check-circle-fill"></use>
								</svg> 
								<span class="text-sm text-neutral-400">Limited acces to space-time complexity analyses.</span>
							</li>
							<li class="flex items-center gap-3  text-green-600">
								<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
									<symbol id="ai:ph:check-circle-fill">
										<path fill="currentColor"
											d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
										</path>
									</symbol>
									<use xlink:href="#ai:ph:check-circle-fill"></use>
								</svg> 
								<span class="text-sm text-neutral-400">Written code solutions in 4 languages.</span>
							</li>
							<li class="flex items-center gap-3  text-green-600">
								<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
									<symbol id="ai:ph:check-circle-fill">
										<path fill="currentColor"
											d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
										</path>
									</symbol>
									<use xlink:href="#ai:ph:check-circle-fill"></use>
								</svg> 
								<span class="text-sm text-neutral-400">A feature-rich in-browser IDE.</span>
							</li>
							<li class="flex items-center gap-3  text-black">
								<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
									<symbol id="ai:ph:check-circle-fill">
										<path fill="currentColor"
											d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
										</path>
									</symbol>
									<use xlink:href="#ai:ph:check-circle-fill"></use>
								</svg> 
								<span class="text-sm text-neutral-400"></span>
							</li>
						</ul>
						<div class="flex mt-8"> 
							<div class="mt-5 flex border border-neutral-500 rounded-full w-full items-center justify-center">
								<a href="/challenges" class="bg-black px-8 py-3 rounded-full w-full text-center">{"Get started"}</a>
							</div>
						</div>
			</div>
			</div>
			<div class="backgroundStyle flex-1 rounded-xl">
				<div class=" h-full flex flex-1 flex-col w-full order-first lg:order-none bg-black py-5 px-6 relative rounded-xl">
					<div class="flex w-full mb-5 relative text-4xl">
						<h3 class="text-4xl">Premium</h3>
						<p class="absolute right-0">$ 100</p>
					</div>
					<div class="flex backgroundStyle rounded-lg w-[50%] items-center justify-center"><p class="text-center w-full font-bold rounded-lg bg-black p-0 py-2 m-0">1 YEAR ACCESS</p></div>
					
					<p class="text-neutral-400 font-extralight">With Premium acces you will have unlimit acces to all resources for a full year. Start master <span class="title font-normal">data structures & algorithms</span> today.</p>
					<ul class="grid mt-8 text-left gap-y-4">
						<li class="flex items-center gap-3 text-green-600">
							<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
								<symbol id="ai:ph:check-circle-fill">
									<path fill="currentColor"
										d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
									</path>
								</symbol>
								<use xlink:href="#ai:ph:check-circle-fill"></use>
							</svg> 
							<span class="text-sm text-neutral-400">Full acces to all coding challenges.</span> 
						</li>
						<li class="flex items-center gap-3  text-green-600">
							<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
								<symbol id="ai:ph:check-circle-fill">
									<path fill="currentColor"
										d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
									</path>
								</symbol>
								<use xlink:href="#ai:ph:check-circle-fill"></use>
							</svg> 
							<span class="text-sm text-neutral-400">Full acces to all video explanations.</span>
						</li>
						<li class="flex items-center gap-3  text-green-600">
							<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
								<symbol id="ai:ph:check-circle-fill">
									<path fill="currentColor"
										d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
									</path>
								</symbol>
								<use xlink:href="#ai:ph:check-circle-fill"></use>
							</svg> 
							<span class="text-sm text-neutral-400">Full acces to space-time complexity analyses.</span>
						</li>
						<li class="flex items-center gap-3  text-green-600">
							<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
								<symbol id="ai:ph:check-circle-fill">
									<path fill="currentColor"
										d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
									</path>
								</symbol>
								<use xlink:href="#ai:ph:check-circle-fill"></use>
							</svg> 
							<span class="text-sm text-neutral-400">Written code solutions in 4 languages.</span>
						</li>
						<li class="flex items-center gap-3  text-green-600">
							<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
								<symbol id="ai:ph:check-circle-fill">
									<path fill="currentColor"
										d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
									</path>
								</symbol>
								<use xlink:href="#ai:ph:check-circle-fill"></use>
							</svg> 
							<span class="text-sm text-neutral-400">A feature-rich in-browser IDE.</span>
						</li>
						<li class="flex items-center gap-3  text-green-600">
							<svg width="1em" height="1em" viewBox="0 0 256 256" class="w-5 h-5" data-icon="ph:check-circle-fill">
								<symbol id="ai:ph:check-circle-fill">
									<path fill="currentColor"
										d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m45.66 85.66l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 11.32">
									</path>
								</symbol>
								<use xlink:href="#ai:ph:check-circle-fill"></use>
							</svg> 
							<span class="text-sm text-neutral-400">Save your progress.</span>
						</li>
					</ul>
					<div class="flex mt-8"> 
						<div class="mt-5 flex backgroundStyle rounded-full w-full items-center justify-center">
							<a href="/challenges" class="bg-black px-8 py-3 rounded-full w-full text-center font-extrabold">{"Purchase"}</a>
						</div>
					</div>
			</div>
		</div>
		</div>
		</div>
	</section>
	<Faq />
	<Footer />
</Layout>

