.gutter {
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-vertical {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
	cursor: row-resize;
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}

p {
	margin-top: 1rem;
}

h3 {
	font-size: 1.5rem;
	margin: 1rem 0;
}

.splitHorizontal {
	padding: 0;
	height: 100%;
}

.monaco-editor-background,
.margin,
.margin-view-overlays,
.margin-view-overlays>div,
.monaco-editor {
	background: transparent !important;
}

.monaco-editor .editor-widget {
	display: none !important;
	visibility: hidden !important;
}

.hiddeNavBars {
	display: none;
}

.list {
	list-style: circle;
	margin-left: 1rem;
}
